{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "throwIfNamespace": true,
        "development": process.env.NODE_ENV !== "production",
        "useBuiltins": false
      }
    },
    "target": "es2022",
    "loose": true,
    "externalHelpers": false,
    "keepClassNames": false
  },
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "noInterop": false
  },
  "minify": true,
  "sourceMaps": true
}
